title{
    -fx-color: white;

}


.root{
    -fx-background-image:url('images/injurypic.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.tableviewss{
    -fx-opacity: .5;
    -fx-font-family: 'Poppins', cursive;
}

.editid{
    -fx-font: Ebrima;
}

.table-view .label{
    -fx-font-family: 'Poppins', cursive;
    -fx-fill: white;
}

